@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

:root {
    --branco: #FFFFFF;
    --bege: #FBF8EF;
    --lilas: #9680B1;
    --bordo: #A981B3;
    --roxo: #8178B4;
    --roxo-bebe: #ABA0D1;
    --roxo-escuro: #9680AF;
    --rose: #D297B5;
    --rosa: #C38DAE;
    --rosa-bebe: #E8A8BC;
}

h2, h3, h4, h5, h6 { 
    text-transform: uppercase; 
    font-size: 35px;
}

body {
    text-align: center;
    font-family: "Changa", sans-serif;
    background-color: var(--bege);
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    menu {
        display: flex;
        justify-content: center;
        background-color: var(--lilas);
        color: var(--branco);
        margin-bottom: 5px;

        h1 { margin-bottom: 0.5rem; }
    }
}

section.content-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 5rem;

    b { font-size: 24px; }
    p { 
        font-weight: 100; 
        font-size: 18px;
    }
}

article.content-header--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: var(--lilas);

    p { margin: 0px; }
}

article.content-header--resume {
    background-color: var(--rose);
    border-radius: 25px;
    padding: 15px 25px;
    text-align: left;
    max-width: 550px;

    p, h2 { color: var(--branco); }
}

section.content-resume {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;

    article { max-width: 350px; }
}

section.content-resume {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

article.content-education {
    border: 20px solid var(--bordo);
    border-radius: 25px;
    color: var(--bordo);
    text-align: left;
}

article.content-language {
    background-color: var(--rosa-bebe);
    height: 100%;
    padding-bottom: 1px;
    height: 230px;

    h4 {
        margin-right: 25px;
    }
}

article.content-experience {
    background-color: var(--roxo);
    padding-bottom: 1px;
}

article.content-contact {
    background-color: var(--rosa);

    div { margin: 0 25px; }
    i { font-size: 40px; }

    div.content-contact--info { 
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 15px;
        margin: 15px;
    }

    p { 
        margin-top: 0px;
        font-weight: 100; 
    }
}

article.content-software {
    background-color: var(--roxo-bebe);
    padding-bottom: 15px;
}

div.content-software--box {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    
    div { gap: 0px !important; }

    p { 
        margin: 0px;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        color: #8178B4;
        font-size: 2em;
    }
}

section.content-imagem {
    background-color: var(--roxo-escuro);
    border-radius: 25px;
    width: 15%;
}

article.content-language, 
article.content-experience,
article.content-contact,
article.content-software {
    color: #FFFFFF;
    border-radius: 25px;
    text-align: left;
}

article.content-education, 
article.content-language, 
article.content-experience, 
article.content-contact, 
article.content-software{
    h3, h4, h5, h6 { 
        margin: 5px;
        padding: 0 25px;
    }

    ul { 
        padding-right: 25px; 

        li > p {
            font-weight: 600;
            margin: 0px;
        }

        li > small {
            font-weight: 100;
        }
    }
}